@charset "utf-8";


main .con {
  display: flex;
  flex-wrap: wrap;
  word-break: keep-all;
  letter-spacing: -1px;
}

main .con li {
  box-sizing: border-box;
}

main .con li:first-child {
  text-align: center;
  color: #222;
  flex: 1 1 100%;
  font-size: 42px;
  font-weight: 400;
  padding-bottom: 50px;
}

main .con li:nth-child(2) {
  padding: 0 110px 0 200px;
  color: #222;
}

main .con li:nth-child(2) img {
  width: 452px;
  object-fit: cover;
  margin-bottom: 20px;
}

main .con li:nth-child(3) {
  flex: 1;
  color: #222;
}

main .con li:nth-child(3) h4 {
  color: #385ca4;
  font-size: 26px;
  font-weight: 500;
  line-height: 33px;
}

main .con li:nth-child(3) p {
  margin: 15px 0;
  line-height: 30px;
  font-size: 15px;
}

main .con li:nth-child(3) p:last-of-type {
  text-align: right;
}

main .con li:nth-child(3) h5 {
  text-align: right;
  font-size: 22px;
  font-weight: 500;
}