@charset "utf-8";

* {
  margin: 0;
  padding: 0;
}

.wrap {
  box-sizing: border-box;
}

/************* 공통 *************/
ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #fff;
}

/************* 상단 *************/

.tit {
  /* position: relative; */
  position: absolute;
  top: 0;
  width: 100%;
  margin: 0 auto;
  padding: 220px 0 120px;
  background: #ccc;
  color: #fff;
  text-align: center;
  font-family: "NanumSquare", sans-serif;
  letter-spacing: -1px;
  background: url(../images/background01.jpg);
}

.tit h1 {
  font-size: 50px;
  margin-bottom: 10px;
}

.tit p {
  font-size: 18px;
  font-family: "Roboto", Noto Sans KR;
}

.tit nav {
  width: 100%;
  height: 63px;
  position: absolute;
  bottom: -30px;
  transition: width .5s;
}

.tit nav .conMenu {
  width: 100%;
  max-width: 1280px;
  height: 100%;
  margin: 0 auto;
  display: flex;
  box-shadow: 0 10px 7px rgba(0, 0, 0, 0.12);
  transition: .5s;
}

.tit nav.on {
  position: fixed;
  left: 0;
  top: 0;
  background: #07348c;
  box-shadow: 0 10px 7px rgba(0, 0, 0, 0.12);
}

.tit nav.on .conMenu {
  box-shadow: none;
}

.tit nav.on .conMenu li:first-child::after {
  position: absolute;
  content: '';
  background: #1277c4;
  left: 0;
  top: 0;
  width: 17%;
  height: 100%;
  z-index: 1;
}

.tit .conMenu li a {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  color: #fff;
  letter-spacing: -1px;
  line-height: 63px;
  box-sizing: border-box;
}

.tit .conMenu li p {
  font-size: 15px;
}

.tit .conMenu li i {
  font-family: "Font Awesome 6 Free";
  line-height: 63px;
  font-weight: 600;
}

.tit .conMenu li span {
  line-height: 63px;
}

.tit .conMenu li:first-child {
  background: #1277c4;
  width: 63px;
}

.tit .conMenu li:first-child p {
  width: 100%;
  text-align: center;
}

.tit .conMenu li:not(:first-child) {
  position: relative;
  background: #07348c;
  width: 193px;
  padding: 0 20px 0 25px;
  box-sizing: border-box;
}

.tit .conMenu li:not(:first-child, :last-child):after {
  content: "";
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  width: 1px;
  height: 70%;
  background: rgba(255, 255, 255, 0.3);
}

.tit .conMenu li:last-child {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  padding-right: 25px;
  padding: 0 15px 0 25px;
}

.tit .conMenu li:last-child a {
  width: auto;
  padding: 0 10px;
}

/************* main *************/

main .wrap {
  max-width: 1280px;
  width: 100%;
  margin: 430px auto 100px;
}

main .title {
  font-size: 52px;
  text-align: center;
  font-family: "NanumSquare", sans-serif;
  margin: 100px 0 70px;
  color: #222;
  font-weight: 400;
  letter-spacing: -1px;
  line-height: 52px;
}