@charset "utf-8";

* {
  margin: 0;
  padding: 0;
}

.wrap {
  box-sizing: border-box;
}

/************* 공통 *************/
ul {
  list-style: none;
}

a {
  text-decoration: none;
}

/************* 상단 *************/

.tit {
  position: relative;
  width: 100%;
  margin: 0 auto;
  background: #ccc;
  text-align: center;
  padding: 100px 0 120px;
  font-family: 'NanumSquare', sans-serif;
  letter-spacing: -1px;
}

.tit h1 {
  font-size: 50px;
}

.tit p {
  font-size: 18px;
  font-family: "Roboto", Noto Sans KR;
}

.tit .conMenu {
  position: absolute;
  width: 100%;
  max-width: 1280px;
  height: 63px;
  bottom: -30px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  box-shadow: 0 10px 7px rgba(0, 0, 0, 0.12);
}

.tit .conMenu li a {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  color: #fff;
  letter-spacing: -1px;
  line-height: 63px;
  box-sizing: border-box;
}

.tit .conMenu li p {
  font-size: 15px;
}

.tit .conMenu li i {
  font-family: "Font Awesome 6 Free";
  line-height: 63px;
  font-weight: 600;
}

.tit .conMenu li span {
  line-height: 63px;
}

.tit .conMenu li:first-child {
  background: #1277c4;
  width: 63px;
}

.tit .conMenu li:first-child p {
  width: 100%;
  text-align: center;
}

.tit .conMenu li:not(:first-child) {
  position: relative;
  background: #07348c;
  width: 193px;
  padding: 0 20px 0 25px;
  box-sizing: border-box;
}

.tit .conMenu li:not(:first-child, :last-child):after {
  content: '';
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  width: 1px;
  height: 70%;
  background: rgba(255, 255, 255, .3);
}

.tit .conMenu li:last-child {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  padding-right: 25px;
  padding: 0 15px 0 25px;
}

.tit .conMenu li:last-child a {
  width: auto;
  padding: 0 10px;
}

/************* main *************/

main .wrap {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto 100px;
}

main .title {
  font-size: 52px;
  text-align: center;
  font-family: 'NanumSquare', sans-serif;
  margin: 100px 0 70px;
  color: #222;
  font-weight: 400;
  letter-spacing: -1px;
  line-height: 52px;
}